:root {
  --principal-font: 'Merriweather', sans-serif;
  --body-font: 'Inter', system-ui, -apple-system;
  --body-secondary-font: 'Nunito', system-ui, -apple-system;
  --body-alternative-font: 'Karla', system-ui, -apple-system;

  --font-color-light: #2E2E2E;
  --font-color-dark: white;

  --bg-color-dark: #7C5A41;
  --bg-color-light: #FAFAFA;;
  /* --gradient: linear-gradient(45deg, #FAFAFA, #7C5A41); */

  --btn-bgc-primary: #FFF552;
  --btn-bgc-primary-hover: #c5be37;
  --btn-color-primary: #2E2E2E;
  --btn-font-size: 14px;

  --border-radius: 8px;

  --violeta-oscuro: #553A8C;
  --violeta-robado: #8C52FF;
  --violeta-claro: #886DBF;
  --lavander: #D8D8F6;
  --medio-gris: #706980;
  --blanco-suave: #FAFAFA;
  --marron-suave: #AAA76F;

  --input: #978897;

  --bg-color-footer: #2C2C34;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color-dark);
  color: var(--color-dark);
}


h1, h2 {
  font-family: var(--principal-font);
}

p {
  font-family: var(--body-alternative-font);
}

button {
  background-color: var(--btn-bgc-primary);
  color: var(--btn-color-primary);
  font-size: var(--btn-font-size);
  border: none;
  padding: 8px 10px;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: var(--btn-bgc-primary-hover);
}

button.action {
  background-color: white;
  color: var(--violeta-robado);
}

button.action:hover {
  background-color:  #e4e4e4;
}
